.hidden
{
	display: none;
}

#Container {
	width: 980px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
#mainCon{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-image: url("../images/main_image.jpg");
	background-size: 100% 100%;
	width: 980px;
	height: 520px;
	margin: 0 auto;
	padding-top: 10px;
}
#aboutCon {

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background-image: url("../images/main_about.jpg");
		background-size: 100% 100%;
		width: 980px;
		height: 520px;
		margin: 0 auto;
		padding-top: 10px;

}

#productCon {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			background-image: url("../images/main_product.jpg");
			background-size: 100% 100%;
			width: 980px;
			height: 520px;
			margin: 0 auto;
			padding-top: 10px;

	}
#adCon{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background-image: url("../images/main_about.jpg");
		background-size: 100% 100%;
		width: 980px;
		height: 520px;
		margin: 0 auto;
		padding-top: 10px;

}
#coCon{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background-image: url("../images/main_about.jpg");
		background-size: 100% 100%;
		width: 980px;
		height: 520px;
		margin: 0 auto;
		padding-top: 10px;

}
li {
	list-style: none;
	margin-left: 15px;
}


#mainHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0;
}


#logo {
	width: 310px;
	height: 115px;
}

#navCon {
	width: 630px;
  height: 115px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#subNav {
	width: 150px;
	height: 30px;
	margin-top: 23px;
	margin-bottom: 15px;
	margin-right: 10px;
	padding: 0;
	display: flex;
	flex-direction: row;
  justify-content: space-between;
}

#mainNav ul {
	width: 630px;
	height: 30px;
	margin-left: 10px;
	margin-top: 10px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: flex-end;
}

#mainNav ul li {
  margin-top: 20px;
  margin-bottom: 20px;
}
#mainNav ul li a:hover {
  background-color: #595757;
  padding: 10px;
  color: #fff;
	border-radius: 10px;
	transition: all.3s ease-in-out;
}

#mainNav ul li a {
  color: #FBC400;
	background-color: #023F97;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
  transition: all.5s ease-in-out;
	padding: 10px;
	 font-family: 'Nanum Gothic', sans-serif;
	 font-weight: bold;
	 font-size: 20px;
	 text-align: center;
}

#subNav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
}


.mainheadlinetitle {
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	color: #023F97;
}
 .text_b {
	 font-family: 'Nanum Gothic', sans-serif;
	 font-size: 16px;
	 margin-top: 10px;
	 line-height: 20px;
	 color: #595757;
 }

#mainTitle{
	width: 950px;
	height: 390px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}



#PromoImage {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.Promo {
	width: 490px;
	height: 290px;
	background-color: #000;
}

#PromoDes {
	width: 925px;
	height: 180px;
	padding-top:70px;
	text-align: center;
	vertical-align: middle;
}

#galleryImage {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.gallery {
	width: 307px;
	height: 231px;
	line-height: 230px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	margin-left: 15px;
	margin-top: 10px;
	border-radius: 30px;
}

#mainText {
	width: 930px;
	height: 200px;
	margin: 0 auto;
	padding-top: 60px;
	text-align: center;
	vertical-align: center;
}
hr {width: 940px;
margin: 0 auto;
margin-bottom: 50px;
color: #595757;}
/*footer */
#mainFooter {
	width: 980px;
	height: 200px;
	background-color: #595757;
	margin-top: 40px;
	padding: 15px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

}
#FooterText {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 20px;
	margin-top: 10px;
	padding-left: 15px;
	line-height: 20px;
	font-weight: bold;
	color: #fff;
}



/* about */
#aboutCon {
	width: 925px;
	height: 180px;
	padding-top:50px;
	margin-top: 50px;
	padding: 0;
}

#mainFooter {
	width: 970px;
	height: 200px;
	background-color: #595757;
	margin-top: 40px;
	margin-left: 10px;
	margin-top: 10px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
/* product */
#Product {
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	color: #023F97;
	margin-bottom: 50px;
}

#FooterNavigation ul li a {

 text-decoration: none;
 width: 307px;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 16px;
	margin-top: 10px;
	line-height: 40px;
	color: #fff;
}
#addressCon {
	text-decoration: none;
	width: 500px;
	 font-family: 'Nanum Gothic', sans-serif;
	 font-size: 16px;
	 margin-top: 10px;
	 line-height: 40px;
	 color: #fff;
	margin-left: 100px;
}


#aboutVideo {
	width: 970px;
	height: 600px;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#videoText {
	width: 925px;
	height: 294px;
	margin: 0 auto;
	padding: 0;
}
